<div layout="row" layout-align="center center">
  <div flex flex-gt-md="80" class="md-primary md-whiteframe-z2">
    <md-toolbar class="md-primary md-hue-1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon md-font-library="material-icons">https</md-icon>
        </md-button>
        <h4>
          <span>
            Entrar
          </span>
        </h4>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-content class="md-padding" id="login">
        <form method="POST" name="loginForm" ng-submit="vm.processForm()">
            {% csrf_token %}
            <div layout="column" layout-align="center center">
                <md-input-container>
                    <label>Usuario</label>
                    {{ form.username }}
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    {{ form.password }}
                </md-input-container>
                {% if form.errors %}
                <p style="color: rgb(244,67,54);font-size: 12px;line-height: 14px;">Tu usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                {% endif %}
                <md-button class="md-raised md-primary" type="submit" />Login</md-button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </md-content>

  </div>
</div>